@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
}
.main-header{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: url(./images/smoke.png) no-repeat,
    #932E30;
    background-size: 100%;
}

.main-header__manage{
    padding-top: 34px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-around;
}
.main-page{
    width: 55px;
    height: 55px;
    background: url('./images/hookah.svg') no-repeat center;
}
.main__link-back{
    width: 55px;
    height: 55px;
    background: url('./images/back-arrow.svg') no-repeat center;
}

.main-nav{
    position: absolute;
    left: 0;
    top: 55%;
    z-index: 5;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-50%, 25%);
    max-width: 80vh;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: scroll;
    overflow-y: visible;
}
.main-nav__link{
    white-space: nowrap;
    position: relative;
    font-size: 34px;
    line-height: 37px;
    text-align: center;
    margin: 0 15px;
    color: #EFEFEF;
    text-decoration: none;
    opacity: 0.6;
}
.main-nav a.main-nav__link--active{
    opacity: 1;
}
.main-nav a.main-nav__link--active::after,
.main-nav a:hover::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #EFEFEF;
}
.main-nav a:last-child{
    padding-left: 15px;
}

.cart{
    position: relative;
    display: block;
    border: none;
    width: 60px;/*60*60*/
    height: 60px;
    background: url('./images/cart.svg') no-repeat center;
    background-size: 50px 50px;
    background-position: 0 100%;
}
.cart__count{
    font-family: 'Arsenal', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: #EFEFEF;
    font-size: 24px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: #434343;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 0 3px;
    border-radius: 50%;
}

.main-content{
    position: relative;
    color: #EFEFEF;
    right: 0;
    width: 84%;
    align-self: flex-end;
    flex-grow: 1;
    background: url('./images/background.png') 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu--center{
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu__link:nth-child(2){
    background: url('./images/menu-button-2.png') no-repeat center 100%, 
                 #932E30;
    background-size: cover;
}
.menu__link:nth-child(3){
    background: url('./images/menu-button-3.png') no-repeat center 100%, 
                 #932E30;
    background-size: cover;
}
.menu__link:nth-child(4){
    background: url('./images/menu-button-4.png') no-repeat center 100%, 
                 #932E30;
    background-size: cover;
}
.menu__link:nth-child(5){
    background: url('./images/menu-button-5.png') no-repeat center 100%, 
                 #932E30;
    background-size: cover;
}
.menu__link{
    position: relative;
    display: block;
    border-radius: 20px;
    margin: 15px 0;
    padding: 22px 0;

    background: url('./images/menu-button-1.png') no-repeat center 100%, 
                 #932E30;
    background-size: cover;
    color: #EFEFEF;

    font-size: 30px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.menu__link[data-new="true"]::before{
    content: "";
    position: absolute;
    top: -1px;
    right: -3px;
    display: block;
    width: 50px;
    height: 20px;
    background: url('./images/new.png') no-repeat;
    background-size: cover;
}

.modal-cont{
    position: absolute;
    display: none; /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(32, 16, 16, 0.4);
}
.modal{
    position: relative;
    font-size: 36px;
    line-height: 31px;
    text-align: center;
    color: #EFEFEF;

    background: url('./images/smoke-modal.png') no-repeat,
                #434343;
    background-size: cover;
    box-shadow: 0px 0px 10px #434343;
    border-radius: 20px;
    width: 320px;
    height: 224px;
}
.modal__text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 176px;
}
.modal__close{
    position: absolute;
    width: 23px;
    height: 23px;
    top: 11px;
    right: 20px;
    background: url('./images/close.svg') no-repeat;
    background-size: cover;
    border: none;
}


/* games */

.cards{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game, .card{
    font-weight: normal;
    position: relative;
    margin-top: 41px;
    width: 100%;
    padding: 15px 8px 20px 8px;
    padding-right: 35px;
    background: #933032;
    border-radius: 50px 0px 0px 50px;
}
.game::before, 
.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    left: -8px;
    border-radius: 50px 0px 0px 50px;
    border: 2px solid #EFEFEF;
}
.game:first-child,
.card:first-child{
    margin-top: 19px;
}
.game__title{
    font-weight: normal;
    width: 107%;
    margin-left: 16px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 26px;
    color: #EFEFEF;
}

.game__description{
    margin-top: 20px;
    width: 107%;
    padding: 15px 3px;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 20px;

    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.game__property{
    margin-top: 5px;
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    
    font-size: 16px;
    color: #DFD3D3;
}
.game__property:last-child{
    margin-bottom: 17px;
}
.game__property-value{
    margin-left: 5px;
    color: #FFFFFF;
}

/* drinks */

.product-props{
    margin-left: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 23px;
    display: flex;
    width: 84%;
    justify-content: space-between;
}

.product-type{
    display: block;
    font-size: 24px;
    text-align: center;
    padding: 11px 15px;
    color: #EFEFEF;
    background: url('./images/menu-button-1.png'), #932E30;
    background-size: cover;
    border-radius: 20px;
    text-decoration: none;
    opacity: 0.7;
}
.product-type--current{
    opacity: 1;
}
.product-type:not(:first-child){
    margin-left: 16px;
}

.card__info{
    width: 110%;
    display: flex;
    justify-content: space-between;
}
.card__image{
    border: 1.5px solid #EFEFEF;
    width: 130px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 50px 4px;
}
.card__title{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #EFEFEF;
}
.card__description{
    width: 90%;
    margin: 10px auto;
    padding: 15px 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #DFCECE;
    
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 20px;
}
.card__price{
    margin-top: 5px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #EFEFEF;
}
.card__submit{
    position: relative;
    display: block;
    padding: 13px;
    margin: 4px auto;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #EFEFEF;
    background-color: transparent;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 50px;
}